<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="global.sesoc.namiya.dao.CategoriesMapper">
	<select id="selectClist" parameterType="string" resultType="Categories"> 
		select categorynum,	categoryname, depth, parentnum from	categories where depth=1</select>

	<select id="selectMlist" parameterType="Integer" resultType="Categories"> 
		select categorynum, categoryname, depth, parentnum from categories where depth=2 and parentnum=#{categorynum} 
	</select>

	<select id="selectSlist" parameterType="Integer" resultType="Categories"> 
		select categorynum, categoryname, depth, parentnum from categories where depth=3 and parentnum=#{categorynum} 
	</select>
	
	<select id="Clist" parameterType="map" resultType="Categories"> 
		select 
			categorynum, 
			categoryname, 
			depth, 
			parentnum
		from
		<choose>
			<when test="lang == 'ko'">categories</when>
			<when test="lang == 'ja'">categoriesja</when>
			<when test="lang == 'en'">categoriesen</when>
		</choose> 
		where 
			depth=1 
	</select>
	
	<select id="Mlist" parameterType="map" resultType="Categories">
		 select 
		 	categorynum, 
		 	categoryname, 
		 	depth, 
		 	parentnum 
		 
		 from 
		 <choose>
			<when test="lang == 'ko'">categories</when>
			<when test="lang == 'ja'">categoriesja</when>
			<when test="lang == 'en'">categoriesen</when>
		</choose>
		 where 
		 	depth=2 
		 and 
		 	parentnum=#{categorynum}
	</select>
	
	<select id="Slist" parameterType="map" resultType="Categories"> 
		select 
			categorynum, 
			categoryname, 
			depth, 
			parentnum 
		from 
		<choose>
			<when test="lang == 'ko'">categories</when>
			<when test="lang == 'ja'">categoriesja</when>
			<when test="lang == 'en'">categoriesen</when>
		</choose>
		where 
			depth=3 
		and 
			parentnum=#{categorynum} 
	</select>
	
</mapper>