<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="global.sesoc.namiya.dao.FavoriteMapper">
	<select id="fListAll" resultType="Favorite">
		select
			*
		from
			favorite
		order by
			favoritenum desc
	</select>
	
	<insert id="fInsert" parameterType="Favorite">
		insert into	favorite
		(favoritenum, myurl,userid)
		values
		(
			favoritenum_seq.nextval,
			#{myurl},
			#{userid}
		)
	</insert>
	
	<delete id="fDelete" parameterType="int">
		delete from favorite
			where favoritenum = #{favoritenum}
	</delete>
	
	<select id="fSelectOne" parameterType="int" resultType="Favorite">
		select
			favoritenum,myurl,userid
		from
			favorite
		where
			favoritenum = #{favoritenum}
	</select>
	
	<select id="fSelectOne2" parameterType="Favorite" resultType="Favorite">
		select
			favoritenum,myurl,userid
		from
			favorite
		where
			myurl = #{myurl}
		and
			userid = #{userid}
	</select>
	
	<select id="fSelect" parameterType="Favorite" resultType="Favorite">
		select
			favoritenum,myurl,userid
		from
			favorite
		where
		<if test="favoritenum != null">
			favoritenum = #{favoritenum}
		</if>
		<if test="myurl != null">
		and
			myurl = #{myurl}
		</if>
  		<if test ="userid != null">
  		and
  			userid = #{userid}
  		</if>
	</select>
	
	
	<select id="fList" parameterType="String" resultType="map">
		select
			favoritenum,favorite.myurl,favorite.userid,savedfile
		from
			favorite,profile,members
		where
			profile.userid = members.userid
		and
			members.myurl = favorite.myurl
		and
  			favorite.userid = #{userid}
	</select>
	
	<update id="fUpdate" parameterType="Favorite">
	update
		favorite
	set
		myurl = #{myurl}, userid = #{userid}
	where
		favoritenum = #{favoritenum}
	</update>
	
	
</mapper>