<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="global.sesoc.namiya.dao.InterestMapper">

<insert id="iInsert" parameterType="Interest">
	insert into interest 
		(interestnum,userid,boardnum)
	values(interestnum_seq.nextval,#{userid},#{boardnum})
</insert>
<delete id="iDelete" parameterType="int">
	delete from interest
	where interestnum = #{interestnum}
</delete>

<select id="iListAll" resultType="Interest" parameterType="string">
	select 
		interestnum,userid,boardnum,
        (select title from board 
			where boardnum = (select interest.BOARDNUM from interest
			where userid = #{userid})) title
	from
		interest
	where
		userid = #{userid}
</select>

<select id="iSelectOne" parameterType="int" resultType="Interest">
	select
		interestnum, userid ,boardnum
	from
		interest
	where
		interestnum = #{interestnum}
</select>
	
<update id="iUpdate" parameterType="Interest">
	UPDATE
		interest
	SET
		userid = #{userid}, boardnum = #{boardnum}
	WHERE
		interestnum = #{interestnum}
</update>	
</mapper>