<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="global.sesoc.namiya.dao.MembersMapper">
	<select id="selectOne" parameterType="Members" resultType="Members">
		select
			userid
			,password
			,username
			,birthday
			,gender
			,email
			,phoneno
			,fulladdr
			,zipcode
			,myurl
		from
			members
		<if test ="password == null and userid==null">
  		where	
  			email=#{email}
  		</if>
		where
			userid=#{userid}
		<if test="password != null">
		and
			password=#{password}
		</if>
		<if test="password == null and username != null">
			userid=#{userid}
		</if>
  		<if test = "password == null and email != null">
  			
  		</if>
  		
  		
	</select>
	
	<insert id="insertMembers" parameterType="Members">
		insert into
			members
		values(
			#{userid},
			#{password},
			#{username},
			#{birthday},
			#{gender},
			#{email},
			#{phoneNo},
			#{fullAddr},
			#{zipcode},
			#{myurl}
		)
	</insert>
	
	<update id="updateMembers" parameterType="Members">
		update
			members
		set
			password=#{password},
			birthday=#{birthday},
			email=#{email},
			phone#{phoneNo},
			fullAddr=#{fullAddr},
			zipcode=#{zipcode}
		where
			userid=#{userid}
	</update>
	
	<select id="selectUrl" parameterType="String" resultType="Members">
      select
         userid
         ,password
         ,username
         ,birthday
         ,gender
         ,email
         ,phoneno
         ,fulladdr
         ,zipcode
         ,myurl
      from
         members
      where myurl=#{myurl}
   </select>
   
   <update id="updateURL" parameterType="Members">
      update members set myurl = #{myurl}
      where
         userid = #{userid}
   </update>
   
   <select id="selectid" resultType="Members">
      select 
         userid
         ,password
         ,username
         ,birthday
         ,gender
         ,email
         ,phoneno
         ,fulladdr
         ,zipcode
         ,myurl
      from
         members
      where
         userid = #{userid}
   </select>
</mapper>