<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="global.sesoc.namiya.dao.MystoreMapper">
	
	<select id="selectAll2" parameterType="String" resultType="Map">
		select 
		 	*
		from mystore, imageitem 
		where 
			userid = #{userid}
		and
			imageitem.itemnum = mystore.itemnum
		order by IMAGEORDER
	</select>
	
	<select id="selectAll" parameterType="String" resultType="Map">
		select 
		 	*
		from mystore, imageitem ,useritem
		where 
			mystore.userid = #{userid}
		and
			imageitem.itemnum = mystore.itemnum
		and
			mystore.useritemnum = useritem.useritemnum
		order by IMAGEORDER
	</select>
	
	<select id="select" parameterType="String" resultType="Members">
		select 
		 	*
		from members 
		where 
			myurl = #{myurl}
	</select>
	
	<insert id="insert" parameterType="Mystore">
		insert into mystore values (
			mystore_seq.nextval,
			#{userid} ,
			#{useritemnum} ,
			#{itemnum} ,
			#{currentframe} ,
			#{px},
			#{py},
		    #{imageorder}
		)
	</insert>
	
	<delete id="deleteAll" parameterType="String">
		delete from mystore where userid = #{userid}
	</delete>
	
	<!-- 전체 글 개수 조회 -->
	<select id="getTotalItem" resultType="int" parameterType="map">
		select count(*)
		from
		useritem,imageitem
		where
			userid = 'master'
		and
			imageitem.itemnum = useritem.itemnum
		and
			${searchItem}
			 like '%' || #{searchWord} || '%'
	</select> 
	
	<select id="selectUserItem" resultType="Map" parameterType="map" >
	
	
		select 
        *
		from useritem, imageitem 
		where 
			userid = 'master'
		and
			imageitem.itemnum = useritem.itemnum
		and
			${searchItem}
			 like '%' || #{searchWord} || '%'
		order by useritemnum
	
	
	</select>
	
	<insert id="insertMinimi" parameterType="String">
		insert into mystore values (
			mystore_seq.nextval,
			#{userid} ,
			522 ,
			61,
			0 ,
			110,
			145,
		    1
		)
	</insert>
	
	<insert id="insertbackground" parameterType="String">
		insert into mystore values (
			mystore_seq.nextval,
			#{userid} ,
			506 ,
			4,
			0 ,
			0,
			0,
		    0
		)
	</insert>
	
	
</mapper>