<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="global.sesoc.namiya.dao.ProductMapper">
	<insert id="insertPdt" parameterType="Product">
		insert into product (productnum, categorynum, productname) values(productnum_seq.nextval, #{categorynum}, #{productname})
	</insert>
	
	<select id="selectOne" resultType="Product">
		select productnum, categorynum, productname, sstatus from product where productnum in (select max(productnum) from product)
	</select>
	
	<select id="seletPC" parameterType="Integer" resultType="map">
		select p.productnum, p.categorynum, p.productname, p.sstatus, c.categoryname from product p, categories c where p.categorynum=c.categorynum and p.productnum=#{productnum} 
	</select>
	
	<update id="updatePdt" parameterType="Product">
		update product set categorynum=#{categorynum}, productname=#{productname} where productnum=#{productnum}
	</update>
	
	<select id="selectPdt" resultType="Product" parameterType="Integer">
		select productnum, categorynum, productname, sstatus from product where productnum=#{productnum}
	</select>
	
	<update id="updatePstt" parameterType="Product" >
		update product set sstatus=#{sstatus} where productnum=#{productnum}
	</update>
	
	<update id="updatePstt2" parameterType="String">
		update product set sstatus='진행완료' where productnum in (select productnum from history where deal_end =#{deal_end})
	</update>
</mapper>