<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="global.sesoc.namiya.dao.SearchMapper">
	<select id="getTotalBoard" parameterType="string" resultType="int">
		select 
			count(*) total 
		from 
			board 
		where 
			title 
		like 
			'%' || #{searchWord} || '%'
		order by 
			regdate 
	</select>
	
	<select id="selectAll" parameterType="map" resultType="Board">
		select 
			boardnum,
			userid,
			regdate,
			title, 
			content,
			service,
			originalfile,
			savedfile
		from 
			board 
		where 
			title 
		like 
			'%' || #{searchWord} || '%'
		order by 
			regdate desc 
	</select>
	
	<select id="getTotalBoardbyMajorCategory" parameterType="int" resultType="int">
		select count(*) total from board where productnum in (
		    select productnum from product where categorynum in (
		        select categorynum from categories where depth = 3 and parentnum in (
		            select categorynum from categories where depth = 2 and parentnum = #{parentnum} 
		        )
		    )
		)
	</select>
	
	<select id="selectAllbyCategory" parameterType="int" resultType="Board">
		select 
			boardnum,
			userid,
			regdate,
			title, 
			content,
			service,
			originalfile,
			savedfile 
		from board where productnum in (
		    select productnum from product where categorynum in (
		        select categorynum from categories where depth = 3 and parentnum in (
		            select categorynum from categories where depth = 2 and parentnum = #{parentnum} 
		        )
		    )
		) 
		order by 
			regdate desc 		
	</select>
	
	<select id="getTotalBoardbyMediumCategory" parameterType="int" resultType="int">
		select count(*) from board where productnum in (
		    select productnum from product where categorynum in (
		        select categorynum from categories where depth = 3 and parentnum = #{parentnum} 
		    )
		)
	</select>
	
	<select id="selectAllbyCategoryMedium" parameterType="int" resultType="Board">
		select 
			boardnum,
			userid,
			regdate,
			title, 
			content,
			service,
			originalfile,
			savedfile 		
		from board where productnum in (
		    select productnum from product where categorynum in (
		        select categorynum from categories where depth = 3 and parentnum = #{parentnum} 
		    )
		)
	</select>
	
	<select id="getTotalBoardbyMinorCategory" parameterType="int" resultType="int">
		select count(*) from board where productnum in (
		    select productnum from product where categorynum = #{parentnum} 
		)
	</select>
	
	<select id="selectAllbyCategoryMinor" parameterType="int" resultType="Board">
		select 
			boardnum,
			userid,
			regdate,
			title, 
			content,
			service,
			originalfile,
			savedfile 
		from board where productnum in (
		    select productnum from product where categorynum = #{parentnum} 
		)
	</select>
	
	<select id="noticeForAll" resultType="Board">
		select 
			* 
		from 
			board 
		where 
			regdate 
			between 
				to_date(to_char(trunc(sysdate), 'YYYY-MM-DD hh24:mi:ss'), 'YYYY-MM-DD hh24:mi:ss') 
			and 
				to_date(to_char(to_date(to_char(trunc(sysdate), 'YYYY-MM-DD hh24:mi:ss'), 'YYYY-MM-DD hh24:mi:ss') + (1/24/60/60 * 86399), 'YYYY-MM-DD hh24:mi:ss'), 'YYYY-MM-DD hh24:mi:ss') 
		and 
			boardnum = (select max(boardnum) from board)
	</select>
	
	<select id="selectItemRanking" parameterType="map" resultType="Product">
		select 
			productname, productnum 
		from
		(
		    select a.categoryname as productname, b.productnum
		    <choose>
		    	<when test="lang=='ko'">
		    		from categories a
		    	</when>
		    	<when test="lang=='ja'">
		    		from categoriesja a
		    	</when>
		    	<when test="lang=='en'">
		    		from categoriesen a
		    	</when>
		    </choose>
		    , (
		        select count(*) as productnum, categorynum from PRODUCT where sstatus = '등록' group by categorynum order by productnum desc
		    ) b
		    where a.categorynum = b.categorynum 
		    order by b.productnum desc
		)
		where rownum &lt;= 3
	</select>
	
	<select id="getMyurl" parameterType="string" resultType="string">
		select myurl from members where userid = (
		    select userid from BOARD where boardnum = #{boardnum}
		)
	</select>
	
</mapper>
